/* tailwindcss */
@import "tailwindcss";

@plugin "daisyui";


/*google font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --font-inter: "Inter", sans-serif;
}
.banner_slide_item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 7.5rem;
}

.banner_image{
    
    position: relative;
    z-index: 2;
}

.banner_image::before{
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    max-width: 747px;
    width: 100%;
    min-height: 747px;
    height: 100%;
    background-color: #e1e3e5;
    border-radius: 100%;
    z-index: -1;
}

/*.slick-prev, .slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 70px !important;
    height: 70px !important;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, 50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: red !important;
}*/

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 52px !important;
    line-height: 2;
    opacity: .75;
    color: #007500 !important ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
     position: absolute;
    bottom: -70px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li button:before{
    font-family: 'slick';
    font-size: 22px  !important;
    line-height: 20px;
    position: absolute;
    top:0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
